body {

    background-color: aqua;
}

h1 {                                                /* ein Element */

    padding: 20px;
    border: 5px solid black;
    margin: 0;
}


.testklasse {                                       /* bezogen auf alle elemente der dieser Klasse zugeordnet wurden */

    color: red;

}


#Linktest{                                     /* bezogen auf etwas mit einer bestimmten ID */

    color: white;
}


.testklasse:hover{                              /* Farbe ändert sich wenn die Elemente in dieser Klasse sich befinden */
    color: green;
}